<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--CSS-->
  <link rel="stylesheet" href="/static/css_bootstrap/bootstrap.min.css">

  <title>Matéria</title>

</head>
<body>
  <div class="container my-5">
    <div class="row p-0 pb-5 pe-lg-0 pt-lg-0 align-items-center rounded-0 border shadow-lg">
      <div class="py-5 text-center">
        <h2>Matéria</h2>
      </div>

      <div class="d-grid gap-2 col-6 mx-auto" >
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Digite a Matéria...</label>
        </div>
        <div class="form-floating">
          <a class="btn btn-success" type="button" >Buscar</a>
          <a href="/" class="btn btn-success" type="button" >Voltar</a>
        </div>
      </div>

      <div class="d-grid gap-2 col-6 mx-auto" >
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Principais Fundamentações(%)</th>
              <th scope="col">Principais Descrições(%)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Art. 93 da Lei  nº 1810/97</td>
              <td>Exemplo 1</td>
            </tr>
            <tr>
              <td>Art. 93 da Lei  nº 1810/97</td>
              <td>Exemplo 2</td>
            </tr>
            <tr>
              <td>Art. 82, "caput", e incisos da Lei n. 1.810/97</td>
              <td>Exemplo 3</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</body>
</html>